.dispNone{
    display: none;
}

.dispBlock{
    display: block;
}

.red{
   color: red;
}

.dispBlockAuthenticate{/* added styling for incorrect username, password to display the message */
    display: block;
}