.app-header{
    background-color: #263238;
    height:36px;
    padding: 8px 32px 8px 16px;
}

.app-logo {/*added style for logo for vertical center and font size */
    font-size: 18px;
    color: #fff;
    padding-top: 4px;

 }